.chat-header,
.chat-header a {
    background-color: #a1c0d6;
    color: black;
}

.chat-header{
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.chat{
    background-color: #a1c0d6;
    height:100vh;
    padding-top:15px;
}

.chat .date-divider{
    text-align:center;
    font-size:12px;
    color:rgba(0,0,0,0.5);
    margin-bottom: 15px;
}

.chat__message {
    margin-bottom: 10px;
    display:flex;
}

.chat__message-from-me{
    display:flex;
    justify-content:flex-end;
    align-content: flex-end;
}

.chat__message-time{
    font-size:10px;
    color: rgba(0,0,0,0.5);
}

.chat__message-from-me .chat__message-body{
    background-color: #ffe934;
    padding:10px 5px;
    border-radius: 5px;
    margin-left: 5px;
    margin-bottom:10px;
}

.chat__message--to-me img{
    height: 35px;
    border-radius: 50%;
}

