.searchbar{
  padding: 10px 25px;
  position: relative;
}

.searchbar input {
  width: 100%;
  padding: 5px 7px;
  box-sizing: border-box;
  border: 0;
  border-radius: 5px;
  background-color: #f1f2f3;
  font-size: 13px;
  text-align: center;
  transition: border-color .3s linear;
}

.searchbar input:placeholder{
  text-align: cetner;
}

.searchbar input:focus{
  outline: none;
  border: 1px soild #ffe94a;
}
.searchbar i{
  position : absolute;
  top: 15px;
  left: 40px;
  color: #bbbbbb;
}
